apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
  namespace: rabbitmq-system
spec:
  replicas: 3
  image: rabbitmq:3.12-management
 # persistence:
 #   storageClassName: local-storage
 #   storage: 20Gi
  override:
    statefulSet:
      spec:
        template:
          spec:
            initContainers:
              - name: volume-permissions
                image: busybox
                command: ["sh", "-c", "chown -R 999:999 /var/lib/rabbitmq && chmod -R 775 /var/lib/rabbitmq"]
                securityContext:
                  runAsUser: 0      # Run as root to allow chown
                  runAsNonRoot: false
                volumeMounts:
                  - name: persistence
                    mountPath: /var/lib/rabbitmq
            securityContext:
              fsGroup: 999
              runAsUser: 999
            containers:
              - name: rabbitmq
