apiVersion: v1
kind: Namespace
metadata:
  name: monitoring-system
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana
  namespace: monitoring-system
spec:
  hostnames:
  - grafana.minikube.cluster
  parentRefs:
  - name: traefik-gateway
    namespace: traefik-system
  rules:
  - backendRefs:
    - name: grafana
      port: 80
    matches:
    - path:
        type: PathPrefix
        value: /
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring-system
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      version: 67.x
  install:
    crds: CreateReplace
  interval: 1h
  upgrade:
    crds: CreateReplace
  values:
    alertmanager:
      enabled: false
    grafana:
      adminPassword: prom-operator
      enabled: true
      persistence:
        enabled: true
        size: 5Gi
    prometheus:
      prometheusSpec:
        retention: 10d
        storageSpec:
          volumeClaimTemplate:
            spec:
              accessModes:
              - ReadWriteOnce
              resources:
                requests:
                  storage: 10Gi
