apiVersion: v1
kind: Namespace
metadata:
  name: rabbitmq-system
---
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
  namespace: rabbitmq-system
spec:
  image: rabbitmq:3.12-management
  replicas: 3
