apiVersion: v1
kind: Namespace
metadata:
  name: rabbitmq
---
apiVersion: rabbitmq.com/v1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
  namespace: rabbitmq
spec:
  rabbitmq:
    additionalConfig: |
      vm_memory_high_watermark.relative = 0.4
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 200m
      memory: 512Mi
