apiVersion: v1
kind: Namespace
metadata:
  name: rabbitmq-system
---
apiVersion: rabbitmq.com/v1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
  namespace: rabbitm-system
spec:
  image: rabbitmq:3.12-management
  replicas: 1
