apiVersion: v1
kind: Namespace
metadata:
  name: rabbitmq-system
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: rabbitmq-pv
  namespace: rabbitmq-system
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 20Gi
  hostPath:
    path: /mnt/app/rabbitmq
    type: DirectoryOrCreate
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rabbitmq-pvc
  namespace: rabbitmq-system
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: local-storage
---
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
  namespace: rabbitmq-system
spec:
  image: rabbitmq:3.12-management
  override:
    statefulSet:
      spec:
        template:
          spec:
            containers:
            - name: rabbitmq
            initContainers:
            - command:
              - sh
              - -c
              - chown -R 999:999 /var/lib/rabbitmq && chmod -R 775 /var/lib/rabbitmq
              image: busybox
              name: volume-permissions
              securityContext:
                runAsNonRoot: false
                runAsUser: 0
              volumeMounts:
              - mountPath: /var/lib/rabbitmq
                name: persistence
            securityContext:
              fsGroup: 999
              runAsUser: 999
  persistence:
    storage: 20Gi
    storageClassName: local-storage
  replicas: 3
