apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: rabbitmq
  namespace: rabbitmq-system
spec:
  hostnames:
  - rabbitmq.${cluster_domain}
  parentRefs:
  - name: traefik-gateway
    namespace: traefik-system
  rules:
  - backendRefs:
    - name: rabbitmq
      port: 15672
    matches:
    - path:
        type: PathPrefix
        value: /
---
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
  namespace: rabbitmq-system
spec:
  image: rabbitmq:3.12-management
  override:
    statefulSet:
      spec:
        template:
          spec:
            containers:
            - name: rabbitmq
            initContainers:
            - command:
              - sh
              - -c
              - chown -R 999:999 /var/lib/rabbitmq && chmod -R 775 /var/lib/rabbitmq
              image: busybox
              name: volume-permissions
              securityContext:
                runAsNonRoot: false
                runAsUser: 0
              volumeMounts:
              - mountPath: /var/lib/rabbitmq
                name: persistence
            securityContext:
              fsGroup: 999
              runAsUser: 999
  replicas: 3
