apiVersion: v1
kind: Namespace
metadata:
  name: traefik-system
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik-system
spec:
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      version: 39.0.0
  install:
    createNamespace: true
  interval: 1h0m0s
  releaseName: traefik
  storageNamespace: traefik-system
  targetNamespace: traefik-system
  values:
    ingressRoute:
      dashboard:
        enabled: true
        entryPoints:
        - web
        matchRule: Host(`traefik-dashboard.minikube.cluster`)
    logs:
      access:
        enabled: true
        fields:
          headers:
            defaultMode: keep
        format: json
    ports:
      traefik:
        expose:
          default: true
      web:
        exposedPort: 80
        port: 8000
      websecure:
        exposedPort: 443
        port: 8443
    providers:
      kubernetesGateway:
        enabled: true
