name: Render to stage-01 branch

on:
  push:
    branches: [main]
    paths:
      - 'apps/**'

permissions:
  contents: write
  pull-requests: write
jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Main Branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
          path: main

      - name: Install Kustomize
        run: |
          curl -s https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh | bash
          sudo mv kustomize /usr/local/bin/

      - name: Render Manifests
        working-directory: main/apps/overlays/stage-01
        run: |
          for project in *; do
            mkdir -p ../../../../tmp/stage-01/rendered
            kustomize build ${project} > ../../../../tmp/stage-01/rendered/${project}.yaml
          done

      - name: Checkout Target Branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: stage-01
          path: stage-01

      - name: Commit and Push to Rendered Branch
        id: commit_and_push
        working-directory: stage-01
        run: |
          set -x
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git checkout -b rendered--stage-01--${{ github.run_id }}
          mkdir -p rendered
          rsync -zavP ../tmp/stage-01/rendered/* rendered/
          git add .
          if git commit -m "Update rendered manifests for stage-01"; then
            git push --set-upstream origin rendered--stage-01--${{ github.run_id }}
            printf "result=done\n" >> "${GITHUB_OUTPUT}"
          else
            printf "result=skipped\n" >> "${GITHUB_OUTPUT}"
          fi

      # - name: Create Pull Request to stage-01
      #   uses: peter-evans/create-pull-request@v5
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     commit-message: "Update rendered manifests for stage"
      #     branch: update-stage-rendered-${{ github.run_id }}
      #     base: stage-01
      #     title: "Render & update stage-01 manifests"
      #     path: stage-01
      #     body: |
      #       This PR contains updated rendered manifests for the `stage-01` environment.
      #       Triggered by changes in `main`.

      - name: Create PR
        if: steps.commit_and_push.outputs.result == 'done'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: stage-01
        run: |
          set -x
          # Get numbers of old pull requests
          PR_NUMS_OLD=$(gh pr list --base stage-01 --state open --json number -q '.[].number')
          # Create new pull request and save the url
          PR_URL=$(gh pr create -t "stage-01: new updates with id ${{ github.run_id }}" --body "")
          # Delete old pull requests and branches
          if [ -n "${PR_NUMS_OLD}" ]; then
            echo "${PR_NUMS_OLD}" | xargs -n1 gh pr close --delete-branch --comment "New PR is created: ${PR_URL}"
          fi
