name: Render to stage-01 branch

on:
  push:
    branches: [main]
    paths:
      - 'apps/**'

permissions:
  contents: write
  pull-requests: write
jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
          path: main

      - name: Install kustomize
        run: |
          curl -s https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh | bash
          sudo mv kustomize /usr/local/bin/

      - name: Render manifests
        working-directory: main/apps/overlays/stage-01
        run: |
          for project in *; do
            mkdir -p ../../../../tmp/stage-01/rendered/${project}.yaml
            kustomize build ${project} > ../../../../tmp/stage-01/rendered/${project}.yaml
          done

      - name: Checkout stage-01 branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: stage-01
          path: stage-01

      - name: Commit and push to new PR branch
        id: commit_and_push
        working-directory: stage-01
        run: |
          set -x
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git checkout -b update-stage-01-rendered-${{ github.run_id }}
          mkdir -p rendered
          rsync -zavP ../tmp/stage/rendered/* rendered/
          git add .
          if git commit -m "Update rendered manifests for stage-01"; then
            git push --set-upstream origin update-stage-01-rendered-${{ github.run_id }}
            printf "result=done\n" >> "${GITHUB_OUTPUT}"
          else
            printf "result=skipped\n" >> "${GITHUB_OUTPUT}"
          fi
      # - name: Create Pull Request to stage-01
      #   uses: peter-evans/create-pull-request@v5
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     commit-message: "Update rendered manifests for stage"
      #     branch: update-stage-rendered-${{ github.run_id }}
      #     base: stage-01
      #     title: "Render & update stage-01 manifests"
      #     path: stage-01
      #     body: |
      #       This PR contains updated rendered manifests for the `stage-01` environment.
      #       Triggered by changes in `main`.


      - name: Create pull request
        if: steps.commit_and_push.outputs.result == 'done'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: stage-01
        run: |
          set -x
          BASE_BRANCH=$(git show-branch -a 2>/dev/null \
          | grep '\*' \
          | grep -v `git rev-parse --abbrev-ref HEAD` \
          | head -n1 \
          | sed 's/.*\[\(.*\)\].*/\1/' \
          | sed 's/[\^~].*//') 
          CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD)

          PR_TITLE="Update stage-01"
          PR_LABEL_ENV=$(echo ${BASE_BRANCH} | awk -F "-" '{print $3"-"$4}')

          sleep 2
          gh pr create --base ${BASE_BRANCH} -t "${PR_TITLE}"  --body ""
