name: Render to dev-01 branch

on:
  push:
    branches: [main]
    paths:
      - 'apps/**'

permissions:
  contents: write
jobs:
  render:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install kustomize
        run: |
          curl -s https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh | bash
          sudo mv kustomize /usr/local/bin/

      - name: Render manifests
        working-directory: apps/overlays/dev-01
        run: |
          for project in *; do
            mkdir -p ../../../tmp/dev-01/rendered/${project}
            kustomize build ${project} > ../../../tmp/dev-01/rendered/nginx/nginx.yaml
          done

      - name: Push manifests
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git fetch origin dev-01
          git checkout dev-01
          mkdir -p rendered/
          cp -rf tmp/dev-01/rendered/* rendered/
          git add rendered
          git commit -m "update configuration" || echo "No changes"
          git push origin dev-01

